# ... suas variáveis de desenvolvimento ...
MYSQL_DB=seu_banco_dev
MYSQL_USER=seu_usuario_dev
MYSQL_PASSWORD=sua_senha_dev
MYSQL_HOST=localhost
MYSQL_PORT=3306

# Variáveis para o banco de dados de teste
MYSQL_TEST_DB=teste # CRIE ESTE BANCO DE DADOS SEPARADAMENTE
MYSQL_TEST_USER=seu_usuario_teste
MYSQL_TEST_PASSWORD=sua_senha_teste
MYSQL_TEST_HOST=localhost
MYSQL_TEST_PORT=3306

JWT_SECRET=seuSegredoSuperSecreto